* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-family: Arial, sans-serif;
  background: dimgray;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  margin-top: auto;
  max-width: fit-content;
  width: 80vw;
  border-radius: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(75, 75, 75, 0.75);
  color: rgb(200, 200, 200);
  transition: all 0.3s ease 0s;
  padding: 1rem;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

img {
  width: 80%;
  max-width: 200px;
}
@media screen {
}

footer {
  width: 100%;
  background-color: rgba(75, 75, 75, 0.875);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

#socials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
}

#socials-container a {
  color: black;
  font-size: xx-large;
}

.credits {
  text-align: center;
  padding-bottom: 5px;
}
